#涉及到开发和生产环境不同的配置需要提取到配置文件
spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: 'jdbc:mysql://publiceducationpolardb.rwlb.rds.aliyuncs.com/education?useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull&allowMultiQueries=true'
    username: 'education_dev'
    password: 'DEU_123ca!tion'
    initial-size: 0
    min-idle: 0
    max-active: 128
    max-wait: 60000
    time-between-eviction-runs-millis: 20000
    min-evictable-idle-time-millis: 300000
    validation-query: 'SELECT ''x'''
    test-while-idle: true
    test-on-borrow: true
    test-on-return: true
    pool-prepared-statements: true
    max-pool-prepared-statement-per-connection-size: 20
    filters: 'config,stat'
  servlet:
    multipart:
      max-file-size: 100Mb
      max-request-size: 100Mb
  messages:
    basename: message/messages
  redis:
    password: YunRedis19gU
    # Redis 默认数据库设置
    database: 0
    # Redis Cluster集群节点配置
    cluster:
      # Redis 集群地址信息
      nodes:
        - 10.0.5.123:6379
        - 10.0.5.123:6380
        - 10.0.5.123:6381
        - 10.0.5.123:6382
        - 10.0.5.123:6383
        - 10.0.5.123:6384
      # 获取失败 最大重定向次数
      max-redirects: 3
    #如果用以前的jedis，可以把下面的lettuce换成jedis即可
    lettuce:
      pool:
        # 连接池最大连接数默认值为8
        max-active: 1000
        # 连接池最大阻塞时间（使用负值表示没有限制）默认值为-1
        max-wait: -1
        # 连接池中最大空闲连接数默认值为8
        max-idle: 10
        # 连接池中的最小空闲连接数，默认值为0
        min-idle: 10

logging:
  level:
    root: 'INFO'
    org.yungu: 'DEBUG'
  config: 'classpath:logback-slf4j.xml'
  path: '../opt/logs/edu'

mybatis:
  mapper-locations: 'classpath*:mapper/**/*.xml'

server:
  port: 8280
  compression:
    enabled: true
    min-response-size: 512000
    mime-types: application/json

dubbo:
  application:
    name: education
  registry:
    #    address: zookeeper://127.0.0.1:2181
    address: zookeeper://10.0.5.121:2181
    #    address: zookeeper://30.14.98.121:2181
    client: zkclient
  consumer:
    check: false
  protocol:
    name: dubbo
    port: 21689
    executes: 20
zookeeper:
  address: 10.0.5.121:2181

#zk分布式锁用
zk:
  url: 127.0.0.1:2181
  timeout: 1000
  retry: 3